<!DOCTYPE html>
{% load static%}
<html lange="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inicial-scale=1.0">
        <title>
            {% block title%}
                Django App
            {% endblock%}
        </title>
        <link rel="stylesheet" href="{% static 'style.css'%}">
    </head>
    <body>
        <nav>
            <a href="{% url 'homepage'%}">Home</a> ||
            <a href="{% url 'sobre'%}">Sobre</a> ||
            <a href="{% url 'lista_donos'%}">ListaUsers</a>
        </nav>
        <main>
            {%block content%}
            {%endblock%}
        </main>
    </body>
</html>